/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;

}

div.jumbotron {
  padding: 0.5rem 0.5rem;
}
table.table th{
  line-height: 1;
  font-size: 1rem;
  padding: 3px;
}
table.table td{
  line-height: 1;
  font-size: 1rem;
  padding: 3px;
}
body> .container {
  padding: 0px 0px;

}
.dropdown > a{
  position: relative;
}
div.row > img.col {
  min-width: 400px;
}