/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;

}

div.jumbotron {
  padding: 1rem 1rem;
}
div.jumbotron > table td{
  line-height: 1;
  font-size: 0.8rem;
}

.dropdown > a{
  position: relative;
}