{% extends "stock/base.html" %}
{% load wiki_tags %}

{% block wiki_pagetitle %}home{% endblock %}

{% block wiki_contents %}
<div class="jumbotron">
      <h1>종목 리스트</h1>

      <table class="table table-striped">
            <thead>
                  <tr>
                        <th>종목코드</th>
                        <th>종목명</th>
                  </tr>
            </thead>
            <tbody>
                  {% for item in file_content %}
                  <tr>
                        <td>
                              {{ item.0 }}
                        </td>
                        <td>
                              {{ item.1 }}
                        </td>
                  </tr>
                  {% endfor %}
            </tbody>
      </table>

</div>


{% endblock %}