{% extends "stock/base.html" %}
{% load static %}

{% block jquery %}
<script src="{% static 'stock/chart.js' %}"></script>
{% endblock %}

{% block wiki_pagetitle %}result{% endblock %}


{% block wiki_contents %}

<div class="">

      <h3>{{ data.1 }} : {{ data.2 }}</h3>

      <div class="row">
            <div class="col-sm">
                  <br>
                  업종 : {{data.3}} <br>
                  주요제품 : {{data.4}} <br>
                  상장일 : {{data.5}} <br>
                  결산월 : {{data.6}} <br>
                  대표자명 : {{data.7}} <br>
                  홈페이지 : <a href="{{data.8}}">{{data.8}}</a> <br>
                  지역 : {{data.9}} <br>
            </div>
            <div class="col-md-8">
                  <canvas id="myChart" width="400" height="200"></canvas>

            </div>


      </div>
</div>

</div>



{% endblock %}