{% load i18n %}
{% if urlpath %}
<div id="article-breadcrumbs">

<ul class="breadcrumb pull-left">
  {% for ancestor in urlpath.cached_ancestors %}
    <li><a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a></li>
  {% endfor %}
  <li class="active">{{ article.current_revision.title|truncatechars:25 }}</li>
</ul>


<div class="pull-left" style="margin-left: 10px;">
    {% if user.is_authenticated %}
    {% if urlpath.parent %}
    {% if user.is_superuser or urlpath.level > 1%}
  <div class="btn-group">
    <a class="btn btn-outline-primary" href="{% url 'wiki:create' path=urlpath.parent.path %}" style="padding: 5px;" title="{% trans "add a new document in this level" %} {{ article.current_revision.title }}">
      + 새문서
    </a>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
  <span class="fa fa-angle-right"></span>
</div>

<div class="pull-left" style="margin-left: 10px;">
  <div class="btn-group">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 5px;" title="{% trans "Sub-articles for" %} {{ article.current_revision.title }}">
      <span class="fa fa-angle-double-down"></span>
      
      목록
    </a>
    <ul class="dropdown-menu">
      {% for child in children_slice %}
        <li>
          <a href="{% url 'wiki:get' path=child.path %}">
            {{ child.article.current_revision.title }}
          </a>
        </li>
        {% empty %}
        <li><a href="#"><em>{% trans "No sub-articles" %}</em></a></li>
      {% endfor %}
      {% if children_slice_more %}
      <li><a href="#"><em>{% trans "...and more" %}</em></a></li>
      {% endif %}
      <li class="divider"></li>
      <li>
        <a href="{% url 'wiki:dir' path=urlpath.path %}">목록 보기&raquo;</a>
      </li>
    </ul>
  </div>

  {% if user.is_authenticated %}
  {% if urlpath.parent %}
  <div class="btn-group">
    <a class="btn btn-outline-primary" href="{% url 'wiki:create' path=urlpath.path %}" style="padding: 5px;" title="{% trans "Sub-articles for" %} {{ article.current_revision.title }}">
        + 새하위문서
      </a>
    </div>
    {% endif %}
    {% endif %}
  </div>
    

<div style="clear: both"></div>
</div>
{% endif %}
